
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
      *::-webkit-scrollbar {
        display: none;
      }
      body {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        font-family: "TASA Orbiter", sans-serif;
        background-image: linear-gradient(
          to right top,
          #d16ba5,
          #c777b9,
          #ba83ca,
          #aa8fd8,
          #9a9ae1,
          #8aa7ec,
          #79b3f4,
          #69bff8,
          #52cffe,
          #41dfff,
          #46eefa,
          #5ffbf1
        );
        background-repeat: no-repeat;
        background-size: contain;
      }
      .container {
        margin: 50px 0px;
      }
      .btnn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .button_header {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
      }
      .card-body {
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid #ffffff75;
        backdrop-filter: 2px solid rgba(255, 255, 255, 0.2);
      }
      button {
        padding: 10px 20px;
        border-radius: 3px;
        margin-left: 20px;
        margin-top: 50px;
        font-weight: 600;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid #ffffff75;
        backdrop-filter: 2px solid rgba(255, 255, 255, 0.2);
        color: white;
      }
      h5 {
        color: #0d6dfd;
      }
      p {
        color: grey;
      }
